
 @charset "utf-8";
body {
  padding-top: 100px;
}

#name {
    font-family: NanumSquareR, sans-serif;
    font-weight: 1000;
    font-size: 40px;
    color: green;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: px;
    margin-left: 70px;
}

#name1 {
    font-family: NanumSquareR, sans-serif;
    font-weight: 1000;
    font-size: 30px;
    color: black;
    
    margin-top: 160px;
    margin-bottom: px;
    margin-left: 10px;
}
#top_content{
    margin-left: 70px;
    font-family: NanumSquareR, sans-serif;
    font-weight: 550;
    margin-top: 15px;
    display: inline;  
}
#top_content1{
    margin-left: 70px;
    font-family: NanumSquareR, sans-serif;
    font-weight: 550;
    margin-top: -150px;
    display: inline;
  
    
}
#top_image{
 
    margin-left: 500px;
    float: right; 
    padding: 10px;
}

h1, h2, h3, h4, h5, p {
    font-family: NanumSquareR, sans-serif;
    font-weight: 500;
    color: black;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

#top_navbar {
    background: rgba(0,0,0,0.7);
}
#top_navcolor {
    background-color: #147b6b;
}

#top_navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.separator {
    background: #59e;
    margin-top: 80px;
    padding: 21px;
    text-align: center;
    color: #fff;
}
.top{
    margin-top: 100px;
    margin-left: 150px;
}

.red {
    background: #fcc;
    border: #eaa solid 4px;
}

.yellow {
    background: #f6f6c0;
    border: #dd7 solid 4px;
}

.green {
    background: #bfc;
    border: #ada solid 4px;
}

.bluegreen {
    background: #aee;
    border: #8dd solid 4px;
}

.blue {
    background: #bcf;
    border: #9ae solid 4px;
}



/*  풀어주기   */
.pet_image {
    width: 100%;
}

.carousel-caption * {
    color: white;
}
.white-text {
    color: white;
}
.row{
     display : grid;
     grid-template-columns: 100%;
     grid-template-rows: 100px 500px;
}
.wrapper {
    display: grid;
    grid-template-columns: 20% 800px 50% ;
    grid-template-rows: 70px 30px 70px 70px 70px 70px 70px;
}

footer { 
    height: 100px;
}
.wrapper1{
    border-bottom: black solid 2px;
}
.wrapper2{
    border-right: black solid 2px;
}


ul {
    padding: 20px;
    
  }
  li {
    display: inline-block;
    font-family: NanumSquareR, sans-serif;
    font-weight: 550;
    font-size: 18px;
  }
#main{
   background-color: #033f3b;   
}


.margin_top{
    margin-top: 50px;
}
.margin_left{
    margin-left : 550px;
}
.margin_top1{
    margin-top: 20px;
}
.gaein{
    background-color: darkgray;
}




/* ------------댓글 및 쪽지 css ------------------*/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

body {
    background-color:#F7F7F7;
    font-family: 'Open Sans', sans-serif;
}
/*Navbar*/
.navbar-default {
    background-color:#fff;
    border-bottom-color:#E3E3E3;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
    background-color:transparent!important;
}
.navbar-default .btn-compose {
    padding-right:10px;
    border-right:1px solid #F0F0F0;
}
/*Forms setup*/
.form-control {
    border-radius:0;
    box-shadow:none;
    height:auto;
}
.float-label{
    font-size:10px;
}
input[type="text"].form-control,
input[type="search"].form-control{
    border:none;
    border-bottom:1px dotted #CFCFCF;
}
textarea {
    border:1px dotted #CFCFCF!important;
    height:130px!important;
}
/*Content Container*/
.content-container {
    background-color:#fff;
    padding:35px 20px;
    margin-bottom:20px;
}
h1.content-title{
    font-size:32px;
    font-weight:300;
    text-align:center;
    margin-top:0;
    margin-bottom:20px;
    font-family: 'Open Sans', sans-serif!important;
}
/*Compose*/
.btn-send{
    text-align:center;
    margin-top:20px;
}
/*mail list*/

ul.mail-list{
    padding:0;
    margin:0;
    list-style:none;
    margin-top:30px;
}
ul.mail-list li a{
    display:block;
    border-bottom:1px dotted #CFCFCF;
    padding:20px;
    text-decoration:none;
}
ul.mail-list li:last-child a{
    border-bottom:none;
}
ul.mail-list li a:hover{
    background-color:#DBF9FF;
}
ul.mail-list li span{
    display:block;
}
ul.mail-list li span.mail-sender{
    font-weight:600;
    color:#8F8F8F;
}
ul.mail-list li span.mail-subject{
    color:#8C8C8C;
}
ul.mail-list li span.mail-message-preview{
    display:block;
    color:#A8A8A8;
}
.mail-search{
    border-bottom-color:#7FBCC9!important; 
}
.tab{
    background-color: #F6F6F6;
}